


DB_PASSWORD=Vol@ntT@llerS3cr3tP@ssProj3ctZ3n
DB_NAME=ZenDB
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=JWT@llerS3cr3tP@ssProj3ctZ3n